{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tasks list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Datecreate</th>
                <th>Dateend</th>
                <th>categ</th>
                <th>img</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td><a href="{{ path('task_show', { 'id': task.id }) }}">{{ task.id }}</a></td>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                {#<td>{% if task.status %}Yes{% else %}No{% endif %}</td>#}
                <td>{% if task.dateCreate %}{{ task.dateCreate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if task.dateEnd %}{{ task.dateEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ task.category_name }}</td>
                <td>
                    {% if task.picture_name is not null %}
                        <img width="100" src="{{ asset('uploads/' ~ task.picture_name) }}" alt="{{ task.picture_name }}">
                    {% else %}
                        <p>Pas d'image</p>
                    {% endif %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('task_show', { 'id': task.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('task_edit', { 'id': task.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('task_new') }}">Create a new task</a>
        </li>
    </ul>
{% endblock %}
